<!-- edit_profile.html -->
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<h2>Editar Perfil</h2>
<style>

</style>

<div class="col-md-4" style="margin: 0 auto; min-width: 50%;">
  <div class="card card-primary card-outline">
    <div class="card-body box-profile">
      <div class="perfil-img">
        {% if not user.profile.image %}
        <img src="{% static 'img/default-user.png' %}" alt="User profile picture">
        {% else %}
        <img src="/media/{{user.profile.image}}" alt="User profile picture">
        {% endif %}
      </div>
      <h3 class="profile-username text-center">{{user.first_name}} {{user.last_name}}</h3>
      <br>
      <form method="post" class="col-md-12" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Atualizar</button>

      </form>
    </div>
  </div>
</div>
{% endblock %}