{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}WManage - Proventos{% endblock %}

{% block content %}
<h3 class="mt-4">Gráfico de Proventos</h3>
<form method="GET" action="{% url 'proventos-chart-2' %}">
    <div class="form-row mt-5">
        <div class="form-group col-md-2 mb-0">
            {{form.data_inicio|as_crispy_field}}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{form.data_fim|as_crispy_field}}
        </div>
        <div class="form-group col-md-1 mb-0">
            <label></label>
            <button id="filter-btn" class="btn btn-info form-control mt-2 mb-3" type="submit"><span
                    class="info-box-icon bg-info"><i class="fa fa-search"></i></span></button>
        </div>
    </div>
</form>
<div class="row">
    <section class="col">
        <div class="card">
            <div class="card-header border-0">
                {{ div1|safe }}
            </div>            
        </div>

        <div class="card">
            <div class="card-header border-0">
                {{ div2|safe }}
            </div>
        </div>

        <div class="card">
            <div class="card-header border-0">
                {{ div3|safe }}
            </div>
        </div>

        <div class="card">
            <div class="card-header border-0">
                {{ div4|safe }}
            </div>
        </div>

    </section>
</div>
<!-- <div class="row">
    
</div>
<div class="row">
    
</div> -->
{% endblock %}