{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Confirme sua senha{% endblock %}

{% block content %}
  <h2 class="h2 mt-4 mb-3 font-weight-normal">Reset de senha</h2>
  <h3 class="h3 mt-4 mb-3 font-weight-normal">Digite sua nova senha</h3>
  <form class="form-signin" autocomplete="off" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Alterar a senha </button>
  </form> 
{% endblock %}                   