{% extends 'base.html' %}
{% load static %}
{% block title %}WManager Proventos{% endblock %}

{% block content %}
<h3 class="mt-4">Ordens Registradas</h3>

<form method="get" class="mt-4" autocomplete="off" id="filter-form">
  {% csrf_token %}
  <div class="form-row forms-container mb-3 rounded">
    <div class="form-group col-md-2 mb-0">
      <label>Data Inicial</label>
      <input class="form-control" type="date" id="data_inicial" name="data_inicial" placeholder="dd/mm/aaaa" value="{{ request.GET.data_inicial }}">
    </div>
    <div class="form-group col-md-2 mb-0">
      <label>Data Final</label>
      <input class="form-control" type="date" id="data_final" name="data_final" placeholder="dd/mm/aaaa" value="{{ request.GET.data_final }}">
    </div>
    <div class="form-group col-md-2 mb-0">
      <label></label>
      <button id="filter-btn" class="btn btn-info form-control mt-1 mb-4" type="submit">Filtrar</button>
    </div>
  </div>
</form>

<a href="{% url 'cadastrar-proventos' %}" class="btn btn-info mt-3 mb-3">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
   Registar Proventos
</a>
<a href="{% url 'export-proventos-xls' %}" class="btn btn-info mt-3 mb-3">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
    <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
  </svg>
   Exportar
</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table id="paginator2" class="table table-hover border border-secondary rounded">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ativo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data</th>
            <th scope="col">Valor [R$]</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for provento in object_list %}
        <tr>    
            <th scope="row">{{provento.ativo}}</th>
            <td>{{provento.tipo_provento}}</td>
            <td>{{provento.data|date:'d/m/Y'}}</td>
            <td>R$ {{provento.valor}}</td>
            <td>
                <a href="{% url 'editar-provento' provento.pk %}" class="btn btn-warning btn-sm" title="Editar">              
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg>
                </a>            
            </td>
            <td>
              <a href="{% url 'excluir-provento' provento.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </a>
            </td>
        </tr>
        {% empty %}
          <tr>        
            <td colspan="11">Nenhum registro encontrado.</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}