{% extends 'base.html' %}
{% load static %}
{% block title %}WManager Cotacao{% endblock %}

{% block content %}
<h3 class="mt-4">Cotacão Registrada</h3>

  <div class="col-9 search-div">
    <form method="GET" id="filter-form">
      <input class="form-control" type="text" id="filter" name="filter" placeholder="Digite o nome do ativo para buscar..." value="{{ request.GET.filter }}">
    </form>
  </div>
<div class="table-responsive">

<table class="table table-hover border border-secondary rounded">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ação</th>
        <th scope="col">Ativo</th>
        <th scope="col">Fechamento Ajustado</th>
        <th scope="col">Variação [ R$ ]</th>
        <th scope="col">Percentual [ % ]</th>
      </tr>
    </thead>
    <tbody>
    {% for cotacao in object_list %}
     <tr>    
        <th scope="row">{{cotacao.acao}}</th>
        <td>{{cotacao.ativo}}</td>
        <td>{{cotacao.fechamento_ajustado}}</td>
        <td>R$ {{cotacao.variacao_1}}</td>
        <td>{{cotacao.variacao_2}}</td>        
     </tr>
    {% empty %}
      <tr>        
        <td colspan="11">Nenhum registro encontrado.</td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}