{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}WManage{% endblock %}
{% block content %}
<h3 class="mt-4">Gráfico de carteira de ativos</h3>
<div class="info-box col-md-4">
    <span class="info-box-icon bg-info"><i class="fa fa-wallet"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Total de Ativos</span>
        <span class="info-box-number">{{valor_acumulado}}</span>
    </div>
</div>
<form method="GET" action="{% url 'carteira-chart' %}">
    <div class="form-row mt-5">
        <div class="form-group col-md-2 mb-0">
            {{form.data_inicio|as_crispy_field}}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{form.data_fim|as_crispy_field}}
        </div>
        <div class="form-group col-md-1 mb-0">
            <label></label>
            <button id="filter-btn" class="btn btn-info form-control mt-2 mb-3" type="submit"><span class="info-box-icon bg-info"><i class="fa fa-search"></i></span></button>
        </div>        
    </div>
</form>
    {{chart|safe}}
{% endblock %}
