<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load bootstrap4 %}    
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/signin.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'style/stick-footer.css' %}"> 
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <article>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">WManage</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastrar</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Ativos</a>
                  <a class="dropdown-item" href="#">Proventos</a>
                </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Importar</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Ativos</a>
                  <a class="dropdown-item" href="#">Proventos</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            {% endif %}
            </ul>
          
          
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Sair</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Cadastro</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </nav>
    </header>
  </article>

    <aside>
      <main class="container">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </main>
    </aside>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Postado por: Alex Barbosa da Silva</span>
      </div>
    </footer>
    {% bootstrap_javascript jquery=True %}
    </body>
</html>