{% load static %}
{% load bootstrap4 %}
{% load user_tags %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="icon" sizes="192x192" href="{% static 'favicon.ico' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

  {% bootstrap_css %}
  {% bootstrap_javascript jquery=True %}
  {{ form.media }}
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style/signin.css' %}">  
  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="{% static 'style/adminlte.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap-select.min.css' %}">
  <!-- DataTables -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>  -->
  <link rel="stylesheet" type="text/css" href="{% static 'style/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/datatables/dataTables.bootstrap4.min.css' %}">
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
  <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="hold-transition sidebar-mini sidebar-collapse layout-footer-fixed">
  <div class="wrapper">
    {% if user.is_authenticated %}
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="{% static 'img/logo_w1.png' %}" alt="WManage" height="60" width="60">
      <img src="{% static 'img/loading.gif' %}" alt="loading" height="60" width="60">
    </div>
    {% endif %}

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      {% if user.is_authenticated %}
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'pages:home' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Contato</a>
        </li>
      </ul>
      {% endif %}
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <!-- Sair -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}" role="button">
            <i class="nav-icon fa fa-sign-out-alt"></i>
            Sair
          </a>
        </li>
        {% else %}
        <!-- Entrar -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}" role="button">
            <i class="nav-icon fa fa-sign-in-alt"></i>
            Entrar
          </a>
        </li>
        <!-- Cadastrar -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}" role="button">
            <i class="nav-icon fa fa-user-plus"></i>
            Cadastre-se
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      {% if user.is_authenticated %}
      <!-- Brand Logo -->
      <a href="{% url 'pages:home' %}" class="brand-link">
        <img src="{% static 'img/logo_w2.png' %}" alt="WManage" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">WManage</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'img/default-user.png' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">{{user.username}}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
            data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                  Dashboards
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'carteira-chart' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Distribuição por Ativos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'proventos-chart' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Proventos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'carteira-vs-bolsa-chart' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Carteira Vs Bolsa</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-upload"></i>
                <p>
                  Importar CSV
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'upload-view' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ativos</p>
                  </a>
                </li>
                {% if request.user|has_group:"Administrador" %}
                <li class="nav-item">
                  <a href="{% url 'upload-view-cotacao' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Cotação</p>
                  </a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a href="{% url 'upload-view-provento' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Proventos</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Cadastrar
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'cadastrar-nota' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ativos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'cadastrar-bonificacao' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Bonificação</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'cadastrar-desdobramento' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Desdobramentos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'cadastrar-grupamento' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Grupamento</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'cadastrar-proventos' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Proventos</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Listar
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'listar-ordens' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ativos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'listar-bonificacao' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Bonificação</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'listar-desdobramento' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Desdobramentos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'listar-grupamento' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Grupamento</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'listar-proventos' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Proventos</p>
                  </a>
                </li>
                {% if request.user|has_group:"Administrador" %}
                <li class="nav-item">
                  <a href="{% url 'listar-cotacao' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Cotação</p>
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
            <li class="nav-header">
              <i class="nav-icon fas fa-cog"></i>
              CONFIGURAÇÕES
            </li>
            <li class="nav-item">
              <a href="{% url 'profile' user.id %}" class="nav-link">
                <i class="nav-icon far fa-user"></i>
                <p>
                  Editar Perfil
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'change_password' %}" class="nav-link">
                <i class="nav-icon fa fa-unlock-alt"></i>
                <p>
                  Alterar Senha
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'two_factor:profile' %}" class="nav-link">
                <i class="nav-icon fas fa-lock"></i>
                <p>
                  Ativar 2FA
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      {% endif %}
      <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          {% block scripts %}
          {% endblock scripts %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2021-2022 <a href="#">WManage</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.17
      </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

  </div>
  <script>

    $(document).ready(function () {
      $('[data-toggle="tool-tip"]').tooltip();
    });
  </script>
  <!-- AdminLTE App -->
  <script src="{% static 'js/adminlte.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/doubleSubmit.js' %}"></script>
  <script src="{% static 'js/paginator.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script>
</body>

</html>