{% extends 'base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Contate-nos</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Contate-nos</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<form action="{% url 'contact' %}" method="post" class="mt-4" autocomplete="off">
  {%csrf_token%}
<section class="content">
  <div class="card">
    <div class="card-body row">
      <div class="col-5 text-center d-flex align-items-center justify-content-center">
        <div class="">
          <h2>W<strong>Manage</strong></h2>
          <p class="lead mb-5">Pernambuco Recife<br>
            Fone: +55 (81) 988697697
          </p>
        </div>
      </div>
      <div class="col-7">
        <div class="form-group">
          {{form.nome|as_crispy_field}}
        </div>
        <div class="form-group">
          {{form.email|as_crispy_field}}
        </div>
        <div class="form-group">
          {{form.assunto|as_crispy_field}}
        </div>
        <div class="form-group">
          {{form.mensagem|as_crispy_field}}
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Enviar mensagem">
        </div>
      </div>
    </div>
  </div>
</section>
</form>
{% endblock %}