{% extends 'base.html' %}
{% load static %}
{% block title %}WManage{% endblock %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4 class="h3 mt-0 font-weight-normal">
                    Carteira de Ações <i class="ion ion-help-circled" data-toggle="tool-tip" title="Os valores da carteira são calculados baseado nas informações de compra e venda de ações."></i>
                </h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    {% if status_fechado_aberto == 'Mercado fechado' %}
                    <li class="breadcrumb-item"><i class="fa fa-circle text-danger"></i> {{status_fechado_aberto}}&ensp;
                    </li>
                    {%else%}
                    <li><i class="fa fa-circle text-success"></i> {{status_fechado_aberto}}&ensp;</li>
                    {%endif%}
                    <li><i>{{b3_nome}} =>&ensp;</i></li>
                    <li><i> {{b3_indice}}&ensp;</i></li>
                    <li><i> {{b3_porcentagem}}</i></li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% include 'status.html' %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="paginator" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Ativo</th>
                                    <th>Qtde.</th>
                                    <th>Preço Médio.</th>
                                    <th>V.Compra Total</th>
                                    <th>Custo</th>
                                    <th>V.Mercado Unit.</th>
                                    <th>V.Mercado Total</th>
                                    <th>Lucro</th>
                                    <th>Variação Preço</th>
                                    <th>Variação</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nota in result_c %}
                                <tr>
                                    <td>{{nota.ativo}}</td>
                                    <td>{{nota.qt}}</td>
                                    <td>{{nota.preco_medio}}</td>
                                    <td>{{nota.preco_f}}</td>
                                    <td>{{nota.custos}}</td>
                                    <td>{{nota.preco_m}}</td>
                                    <td>{{nota.v_mercado}}</td>
                                    {% if nota.lucro > 'R$ 0,00' %}
                                    <td>
                                        <h4><span class="badge badge-success lucro">{{nota.lucro}}</span></h4>
                                    </td>
                                    {% else %}
                                    <td>
                                        <h4><span class="badge badge-danger lucro">{{nota.lucro}}</span></h4>
                                    </td>
                                    {% endif %}
                                    {% if nota.variacao_1 > '-0' %}
                                    <td><span class='badge badge-danger lucro'>R$ {{nota.variacao_1}}</span></td>
                                    {% else %}
                                    <td><span class='badge badge-success lucro'>R$ {{nota.variacao_1}}</span></td>
                                    {% endif %}
                                    {% if nota.variacao_2 > '(-0)' %}
                                    <td><span class='text-danger'>{{nota.variacao_2}}</span></td>
                                    {% else %}
                                    <td><span class='text-success'>{{nota.variacao_2}}</span></td>
                                    {% endif %}
                                    <th scope="row" class="text-primary">
                                        <a href="{% url 'temporal-chart' nota.ativo %}">
                                            <i class="far fa-chart-bar"></i>
                                        </a>
                                    </th>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="11">Nenhum registro encontrado.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="thead-dark">
                                <tr>
                                    <th>Ativo</th>
                                    <th>Qtde.</th>
                                    <th>Preço Médio.</th>
                                    <th>V.Compra Total</th>
                                    <th>Custo</th>
                                    <th>V.Mercado Unit.</th>
                                    <th>V.Mercado Total</th>
                                    <th>Lucro</th>
                                    <th>Variação Preço</th>
                                    <th>Variação</th>
                                    <th>#</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock %}